* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    /* border: 1px solid red; */
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

body {
    color: lightgrey;
    background-color: #0c0c1d;
}

a {
    text-decoration: none;
    color: inherit;
}

section {
    height: 100vh;
    scroll-snap-align: center;
}

/* #About{
    height: 100% !important;
} */

@media screen and (max-width: 1200px) {
    #Homepage .wrapper {
        max-width: 1200px;
        padding: 0 100px;
    }

    #Homepage .hero h2 {
        font-size: 20px;
    }

    #Homepage .hero h1 {
        font-size: 60px;
    }

    #Homepage .hero .buttons button {
        padding: 15px;
    }

    #Homepage .hero .imageContainer {
        width: 40%;
    }

    #Homepage .hero .imageContainer img {
        width: 100%;
    }

    #Services .titleContainer .title img {
        width: 200px;
        height: 80px;
    }

    #Services .titleContainer .title h1 {
        font-size: 65px;
    }

    #Services .titleContainer .title button {
        width: 200px;
        height: 80px;
        font-size: 20px;
    }

    #Services .listContainer {
        padding: 0 25px;
    }

    #Services .listContainer .box {
        padding: 25px;
    }

    #Portfolio .container .wrapper {
        padding: 0 30px;
    }


    #Contact .contact {
        padding: 0 30px;
    }

    #Contact .contact h1 {
        font-size: 65px;
    }

}

/* @media screen and (min-width: 1000px) {
    #Homepage .wrapper {
        max-width: 1200px;
        padding: 0 100px;
    }

    #Homepage .hero h2 {
        font-size: 20px;
    }

    #Homepage .hero h1 {
        font-size: 60px;
    }

    #Homepage .hero .buttons button {
        padding: 15px;
    }

    #Homepage .hero .imageContainer {
        width: 40%;
    }

    #Homepage .hero .imageContainer img {
        width: 100%;
    }

    #Services .titleContainer .title img {
        width: 200px;
        height: 80px;
    }

    #Services .titleContainer .title h1 {
        font-size: 65px;
    }

    #Services .titleContainer .title button {
        width: 200px;
        height: 80px;
        font-size: 20px;
    }

    #Services .listContainer {
        padding: 0 25px;
    }

    #Services .listContainer .box {
        padding: 25px;
    }

    #Portfolio .container .wrapper {
        padding: 0 30px;
    }


    #Contact .contact {
        padding: 0 30px;
    }

    #Contact .contact h1 {
        font-size: 65px;
    }

} */

@media screen and (max-width: 768px) {
    #Homepage .wrapper {
        flex-direction: column;
        justify-content: center;
    }

    #Homepage .hero .textContainer {
        width: 100%;
        height: 50%;
        text-align: center;
        align-items: center;
    }

    #Homepage .hero h1 {
        font-size: 45px;
    }

    #Homepage .hero h2 {
        font-size: 15px;
    }

    #Homepage .hero .buttons a {
        padding: 0;
    }

    #Homepage .hero .buttons button {
        padding: 10px;
    }
    #About{
        height: 100% !important;
    }
    .about .wrapper{
        flex-direction: column;
    }
    .about .wrapper .textContent{
        width: 95%;
    }
    .about .box{
        top: auto !important;
        left: auto !important;
    }
    #Tech{
        height: 100% !important;
        padding: 0 30px;
    }
    #Tech .card{
        width: 45%;
    }
     #Services {
        height: 100% !important;
    }

    #Services .services .textContainer hr {
        width: 200px;
    }

    #Services .titleContainer {
        margin-top: 15px;
        padding: 0 30px;
    }

    #Services .titleContainer .title {
        gap: 20px;
    }

    #Services .titleContainer .title img {
        width: 150px;
        height: 60px;
    }

    #Services .titleContainer .title h1 {
        font-size: 45px;
    }

    #Services .titleContainer .title button {
        width: 150px;
        height: 60px;
        font-size: 16px;
    }

    #Services .listContainer {
        flex-direction: column;
    }

    #Portfolio .progress {
        font-size: 25px;
    }

    #Portfolio .container .wrapper {
        gap: 20px;
    }

    #Portfolio .container .text-container {
        gap: 15px;
    }

    #Portfolio .container .text-container h2 {
        font-size: 35px;
    }

    #Portfolio .container .text-container p {
        font-size: 16px;
    }

    #Contact .contact {
        gap: 20px;
    }

    #Contact .contact .textContainer {
        gap: 15px;
    }

    #Contact .contact .textContainer h1 {
        font-size: 35px;
    }

    #Contact .contact .formContainer input,
    textarea {
        padding: 10px;
    }
}

@media screen and (max-width: 500px) {
    #Homepage {
        height: 100% !important;
    }

    #Homepage .navbar .sidebar .bg {
        width: 60%;
    }

    #Homepage .sidebar .bg .links {
        gap: 15px;
    }

    #Homepage .sidebar .bg .links a {
        font-size: 25px;
    }

    #Homepage .wrapper {
        padding: 0;
    }

    #Homepage .hero h2 {
        font-size: 12px;
        letter-spacing: normal;
    }

    #Homepage .hero h1 {
        font-size: 28px;
    }

    #Homepage .hero .imageContainer {
        width: 60%;
    }

    .about .wrapper{
        transform: none !important;
    }
    #Tech .card{
        width: 95%;
    }
    #Tech .card-sec{
       justify-content: center;
    }

    #Services .services {
        transform: none !important;
    }

    #Services .services .textContainer hr {
        width: 0px;
    }

    #Services .services .textContainer p {
        font-size: 14px;
        font-weight: 300;
    }

    #Services .titleContainer .title img {
        height: 45px;
    }

    #Services .titleContainer .title {
        flex-direction: column;
    }

    #Services .titleContainer .title h1 {
        font-size: 35px;
    }

    #Services .titleContainer .title button {
        height: 45px;
    }


    #Portfolio .progress {
        font-size: 18px;
        padding-top: calc(100vh - 80px);
        z-index: 3;
    }

    #Portfolio .container .wrapper {
        flex-direction: column;
        gap: 0;
    }

    #Portfolio .container .text-container {
        transform: none !important;
    }

    #Portfolio .container .text-container button {
        z-index: 5;
    }

    #Portfolio .container .text-container {
        gap: 5px;
    }



    #Contact {
        height: 100%;
        padding-bottom: 20px;
    }

    #Contact .contact {
        gap: 20px;
        flex-direction: column;
    }

    #Contact .contact .formContainer {
        width: 100%;
    }

    #Contact .contact .textContainer {
        padding-top: 90px;
    }

    #Contact .contact .textContainer h1 {
        line-height: normal;
    }


}